.regex-test {
	text-align: center;
}

	.regex-test > .pattern,
	.regex-test > .tester {
		position: relative;
		display: inline-block;
		width: 100%;
		margin-bottom: 4rem;
		color: hsl(75, 70%, 60%);
		font: 160%/1 Consolas, Monaco, monospace;
		white-space: nowrap;
		overflow: auto;
		transition-property: color;
		transition-duration: .3s;
	}

	.regex-test > div.invalid {
		color: #fbb;
	}

	.regex-test > div.invalid:before {
		content: '✖';
		position: absolute;
		left: .2em;
		top: .1em;
		z-index: -1;
		width: 1em;
		padding: .1em;
		border: .2em solid;
		border-radius: 50%;
		box-shadow: 0 -.02em .03em black, 0 -.02em .03em black inset;
		text-align: center;
		color: hsl(30,20%,19%);
		font: 60%/1 sans-serif;
	}

		.regex-test > div > div {
			display: inline-block;
			position: relative;
		}

		.regex-test input {
			position: relative;
			z-index: 1;
			min-width: .1em;
			padding: 0;
			margin: 0 auto;
			border: 0;
			outline: none;
			background: transparent;
		}

		.regex-test input:hover {
			outline: 1px dashed hsla(0,0%,100%,.3);
			outline-offset: -1px;
		}

		.match.indicator {
			min-width: 10px;
			background: rgba(0,0,0,.3);
			position: absolute;
			top: 0;
			bottom: 0;
			border-radius: .1em;
			transition-duration: .2s;
			transition-property: left, width;
		}

		.sub.match.indicator {
			background: rgba(0,0,0,.2);
		}

		.regex-test h1,
		.regex-test ul {
			text-align: left;
		}

		.regex-test h1 {
			color: hsl(30,20%,15%);
			font: italic 180% Baskerville, serif;
			text-shadow: 0 .1rem hsla(0,0%,100%,.3);
		}

		.regex-test ul {
			font-size: 90%;
		}

.regex-test .time-taken {
	position: absolute;
	top: 1em;
	right: 1em;
	display: inline-block;
	padding: .2em .5em;
	border-radius: .2em;
	background: hsla(50, 100%, 50%, .3) url(../img/noise.png);
	font-size: 60%;
	line-height: normal;
	transition: .5s;
	transition-property: background, color, font-size;
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0 .05em .3em rgba(0,0,0,.3);
}

	.regex-test .time-taken::before {
		content: "⏱ ";
		mix-blend-mode: multiply;
		text-shadow: none;
		color: white;
	}

	.regex-test .time-taken.slow {
		background-color: hsla(0, 90%, 40%, .8);
		font-weight: bold;
	}

	.regex-test .time-taken.very-slow {
		background-color: hsla(0, 90%, 30%, .9);
		font-weight: bold;
		font-size: 80%;
	}

	.regex-test .time-taken.fast {
		background-color: hsla(80, 80%, 50%, .3);
		color: hsl(80, 70%, 17%);
		text-shadow: 0 .1rem hsla(0,0%,100%,.3);
	}

	.regex-test .time-taken.in-progress {
		color: transparent;
		text-shadow: none;
		transition: none;
	}
