@font-face {
	font-family: LeaVerou;
	src: url(../img/leaverou.otf);
}

#hi figcaption {
	font-family: "Marker Felt";
}

#lesbian {
	background-color: transparent;
}

ul.links a:after {
	content: ' ' attr(href);
	font: italic 100% Baskerville;
	opacity: .5;
}

.speech-bubble {
	position: relative;
	float: left;
	padding: .5em 1em;
	border: .3em solid;
	border-radius: 1em;
	margin: .5em .5em 2em;
	background: white;
	color: black;
	text-shadow: none;
	transition-property: transform;
}

.speech-bubble ~ .speech-bubble {
	float: right;
}

.speech-bubble.delayed {
	transform: scale(0);
	transform-origin: bottom left;
	opacity: 1;
}

.speech-bubble.current.delayed {
	transform: scale(1);
}

.speech-bubble ~ .speech-bubble.delayed {
	transform-origin: bottom right;
}

	.speech-bubble::after {
		content: '';
		position: absolute;
		bottom: -.3em;
		left: 1.5em;
		width: 3em;
		height: 1em;
		background: linear-gradient(-70deg, transparent 60%, black 60%);
		background: linear-gradient(to right bottom, transparent 60%, black 60%);
		transform: scaleX(-1) rotate(45deg) skewX(60deg);
	}

	.speech-bubble ~ .speech-bubble::after {
		left: auto;
		right: 1.5em;
		transform: rotate(45deg) skewX(60deg);
	}

.syntax-breakdown {
	text-align: center;
	justify-content: flex-start;
}

	.syntax-breakdown h1 {
		color: white;
	}

		.syntax-breakdown h1 > code > span {
			position: relative;
			padding: .1em;
			opacity: 1;
			border-radius: .5rem;
		}

		.syntax-breakdown h1 > code > span.current {
			background: var(--color-ciel);
			text-shadow: 0 -.1rem .1rem rgba(0,0,0,.5);
		}

		.syntax-breakdown h1 > code > span.displayed {
			opacity: 1;
		}

		.syntax-breakdown h1 > code > span[title].current::before,
		.syntax-breakdown h1 > code > span[title].current::after {
			position: absolute;
			bottom: -8em;
			left: 0;
			background: inherit;
			font: italic 3rem Baskerville, serif;
		}

		.syntax-breakdown h1 > code > span[title].current.after-middle::before,
		.syntax-breakdown h1 > code > span[title].current.after-middle::after {
			left: auto;
			right: 0;
		}

		.syntax-breakdown h1 > code > span[title].current::before {
			content: '';
			top: 0;
			z-index: -1;
			width: .4rem;
			margin-left: 50%;
			margin-left: calc(50% - .2rem);
		}

		.syntax-breakdown h1 > code > span[title].current.after-middle::before {
			margin-left: 0;
			margin-right: 50%;
			margin-right: calc(50% - .2rem);
		}

		.syntax-breakdown h1 > code > span[title].current::after {
			content: attr(title);
			min-width: 6em;
			max-width: max-content;
			padding: .3em .5em .4em;
			border-radius: inherit;
			color: #456;
			text-shadow: 0 .1rem white;
		}

.regex-test > .delayed-children > li:not(.current):not(.displayed) {
	opacity: .05;
}

.regex-test ul > li:first-child:nth-last-child(n+4),
.regex-test ul > li:first-child:nth-last-child(n+4) ~ li {
	font-size: 80%;
}

li.invalid.delayed {
	opacity: 1;
}

li.invalid.delayed.current,
li.invalid.delayed.displayed {
	text-decoration: line-through;
	font-style: italic;
	opacity: .5;
}

#metacharacters:target {
	display: block;
}

	#metacharacters code {
		display: inline-block;
		min-width: 1em;
		padding: .1em;
		border-radius: .1em;
		margin: .1em .05em;
		background: rgba(0,0,0,.2);
		text-align: center;
		font-size: 350%;
		line-height: 1;
	}

	#metacharacters p {
		display: inline-block;
		color: hsl(30,20%,50%);
		font-size: 250%;
	}

.slide[data-type="Challenge"] {
	align-items: flex-start;
}

	.slide[data-type="Challenge"]:target::before {
		content: 'Reminder: to participate, go to regexplained.com';
		position: absolute;
		top: 0; left: 0; right: 0;
		padding: 0 1.3em .1em;
		background: rgba(0,0,0,.5);
		font-size: 90%;
		font: italic 90%/1.4 Baskerville;
		white-space: nowrap;
		overflow: hidden;
	}

	.slide[data-type="Challenge"]:target + .slide.next::before {
		content: none;
	}

	.slide[data-type="Challenge"] > h1,
	.slide[data-type="Challenge"] > p {
		margin-right: 99vmin;
	}

	.slide[data-type="Challenge"] p code {
		background: rgba(0,0,0,.5);
		white-space: nowrap;
		padding: .2em .3em;
		border-radius: .2em;
	}

	.slide[data-type="Challenge"] p .not {
		color: red;
	}

		.slide[data-type="Challenge"] p .not::before {
			content: "\A";
			white-space: pre;
		}

.timer {
	float: right;
	position: absolute;
	top: 2em;
	right: 2em;
	--size: calc(100vmin - 3em);
	width: var(--size);
	height: var(--size);
	border: 1px solid rgba(0,0,0,.5);
	box-sizing: border-box;
	border-radius: 50%;
	margin: auto;
	overflow: hidden;
}

@keyframes timer {
	from: {
		--progress: 0;
	}

	to {
		--progress: 100%;
	}
}

.timer.running {
	/*animation-play-state: paused;
	animation-delay: -40s;*/
	/*background: conic-gradient(hsla(0,0%,100%,.3) var(--progress), transparent 0%);*/
}

	.timer:after {
		content: attr(data-duration) '′';
		position: absolute;
		top: 50%;
		left: 0; right: 0;
		margin-top: -.6em;
		color: white;
		text-align: center;
		font-size: 400%;
		line-height: 1;
		text-indent: .1em;
		letter-spacing: -.1em;
	}

	.timer video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
		object-position: var(--position, center);
		animation: timer calc(var(--duration) * 1s) both linear;
		animation-play-state: paused;
		-webkit-mask-image: conic-gradient(black var(--progress), transparent 0%);
	}

	.timer.running video {
		animation-play-state: running;
	}

	.timer > button {
		position: absolute;
		bottom: 1em;
		left: 50%;
		z-index: 1;
		margin: 0 0 0 -1.2em;
	}

	.timer.running > button {
		display: none;
	}

	#precise-impractical {
		background: 0;
	}

		#precise-impractical > code {
			position: absolute;
			left: 0; right: 0; top: 0;
			padding: .4em;
			color: hsl(25,20%,20%);
			text-shadow: 0 .1rem hsla(0,0%,100%,.3);
			font-size: 4vw;
			line-height: 1.3;
			font-weight: bold;
			word-wrap: break-word;
			word-break: break-all;
		}

.error {
	color: #f44;
	font: 75%/1.2 Monaco, Consolas, monospace;
	font-weight: bold;
}

	.error:before {
		content: '✖';
		display: inline-block;
		width: 1em;
		padding: .2em;
		margin-right: .3em;
		text-align: center;
		color: white;
		font-size: 80%;
		line-height: 1;
		font-weight: normal;
		vertical-align: .2em;
		background: red;
		border-radius: 50%;
	}

details.tweets {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

	details.tweets > summary {
		padding: 0 .4em;
		border: 1px solid hsl(30,20%,25%);
		border-radius: .3em;
		box-shadow: 1px 1px 1px hsla(0,0%,100%,.15), 1px 1px 1px hsla(0,0%,100%,.15) inset;
		cursor: pointer;
		white-space: nowrap;
	}

	details.tweets > summary::-webkit-details-marker {
		display: none;
	}

	details.tweets > div {
		position: absolute;
		bottom: 3em;
		right: 0;
		min-width: 15em;
		max-height: 70vh;
		overflow: auto;
		padding: .8em 1em;
		border: 1px solid rgba(0,0,0,.5);
		border-radius: .5em;
		background: var(--color-beige) url(../img/noise.png);
		color: hsl(30,20%,20%);
		text-shadow: 0 .1em .1em white;
		font-size: 70%;
		box-shadow: .1em .2em 1em rgba(0,0,0,.5);
	}

	details.tweets[open]:before {
		content: '';
		position: absolute;
		bottom: 2em;
		right: 20%;
		z-index: 1;
		width: 20px;
		height: 20px;
		background: var(--color-beige) url(../img/noise.png);
		transform: rotate(45deg);
	}

		details.tweets > div:empty:before {
			content: 'No tweets to display';
			font-style: italic;
		}

		details.tweets > div > article {
			padding: .3em 0;
			overflow: hidden;
			border-top: 1px solid white;
			border-bottom: 1px solid rgba(0,0,0,.2);
		}

		details.tweets > div > article:first-child {
			border-top: 0;
		}

		details.tweets > div > article:last-child {
			border-bottom: 0;
		}

			details.tweets > div > article > h1 {
				color: var(--color-brown);
				font-size: 75%;
			}

				details.tweets > div > article time {
					color: var(--color-brown);
					font: italic 100% Baskerville, 'Palatino Linotype', Palatino, Georgia, serif;
				}

			details.tweets > div > article > p {
				font-family: Consolas, Monaco, monospace;
			}

			details.tweets > div > article > img {
				float: left;
				margin: .3em .5em 0 0;
			}

#contact {
	position: absolute;
	top: 400px;
	left: 60px;
	padding: 1em 1.2em .9em;
	background: white url(../img/logo.svg) no-repeat;
	background-size: contain;
	background-origin: content-box;
	color: black;
	font: italic 80%/.1 Baskerville;
	text-shadow: none;
	box-shadow: 0 .1em .3em black;

	transition: 1s cubic-bezier(.25,.1,.3,1.1);
}

#contact.delayed:not(.current):not(.displayed) {
	top: -200px;
	left: 300px;
	transform: scale(2);
	box-shadow: -70px 300px 10px -50px rgba(0,0,0,.5);
}

	#contact > p {
		margin: 0;
		line-height: 1.4;
	}

	#contact > p:nth-child(-n+3) {
		margin-left: 190px;
		font-size: 140%;
	}


	#contact strong {
		color: #f06;
	}

@keyframes laugh {
	from {
		background-position-y: bottom;
	}

	to {
		background-position-y: calc(100% + 1em);
	}
}

#troll {
	background-image: url(../img/trollface.jpg);
	background-position: bottom;
}

	#troll:target {
		animation: laugh .1s 5s 25 alternate ease-in-out;
	}

	#troll h1 {
		padding: 0;
		background: none;
		font: 220% Impact;
		text-transform: uppercase;
		xtext-shadow: none;
		-webkit-text-stroke: 2px black;
	}

#cfg ul {
	font-size: 200%;
}

	#cfg em {
		font-style: italic;
	}

#kiss {
	background: hsl(75, 50%, 30%);
}

	#kiss ul {
		margin-top: 1em;
	}

	#kiss code {
		background-color: var(--color-brown)
	}

ul.js-vs-regex li {
	display: grid;
	grid-template: auto / 1fr auto 1fr;
	grid-column-gap: .2em;
	align-items: center;
	justify-content: center;
}

	ul.js-vs-regex li > code,
	ul.js-vs-regex li > pre {
		background: black url(../img/noise.png);
		background-blend-mode: multiply;
		padding: .2em .4em;
		border-radius: .2em;
	}

	ul.js-vs-regex strong {
		display: inline-block;
		vertical-align: middle;
		font-size: 200%;
		line-height: 1.2;
	}

footer.slide {
	background: radial-gradient(transparent, rgba(0,0,0,.7)) hsl(200, 15%, 20%) black;
}

	footer .delayed.displayed,
	footer .delayed-children > .displayed {
		opacity: 1;
	}

	footer p {
		margin: 1em 0;
	}

	footer h1 {
		margin: .5em 0;
	}

	footer.slide ul {
		background-image: url(../img/noise.png);
		box-shadow: 0 .1em .5em -.2em rgba(0,0,0,.5);
	}

	footer.slide ul li::before {
		color: var(--color-brown);
		text-shadow: none;
	}

	.stickercaption {
		font-size: 150%;
	}

#lookahead-hacks {}

	#lookahead-hacks h1 .math {
		background: var(--color-green);
		color: var(--color-brown);
		padding: .05em .4em;
		border-radius: 1em;
		text-shadow: none;
	}

	#lookahead-hacks pre:last-of-type {
		font-size: 160%;
		margin-top: .8em;
	}

	#lookahead-hacks pre + pre:last-of-type {
		margin-top: 0;
	}
